* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dad4d7;
    color: #48403d;
    font-family: Bauer Bodoni;
}

a {
    text-decoration: none;
    color: #48403d;
    display: inline;
    align-items: center;
}

.navbar {
    background-color: #dad4d7; 
    color: #48403d;
    font-family: Bauer Bodoni;
}


/*<about me styles */



h1 {
    font-size: 7vw;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
    border-top: 3px solid #48403d;
}


/*<my work styles */


.card {
    background-color: #dad4d7;
    border: none;
}

/*<contact me styles */



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        /* this will be applied on any screen smaller than 980px */
        padding-bottom: 0;
        justify-content: center;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header h1 {
        /* this will be applied on any screen between 768px and 575px */
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    header h1 {
        /* this will be applied on any screen smaller than 575px */
    }
}