* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dad4d7;
    color: #48403d;
    font-family: Bauer Bodoni;
}

/*apply styles to <header> */
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    color: #48403d;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    justify-content: flex-start;
}

header a {
    text-decoration: none;
    color: #48403d;
    display: inline;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    color:#000000;
}

.hero {
    background-image: url("./assets/images/hero-image.png");
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}


.hero-title {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #48403d;
    font-size: 18px;
    line-height: 1.2;
}

.intro {
    padding: 25px;
    text-align: left;
    display: inline;
}

.container h1 {
    text-align: left;
}

.about-me-grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 250px);
    grid-gap: 5px;
  }

.grid-photo {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-height: 100%;
    grid-column: 1/4;
    grid-row: 1/1;
}

.grid-paragraph {
    display: flex;
    justify-content: left;
    font-size: 18px;
    width: 100%;
    max-height: 100%;
    grid-column: 4/6;
    grid-row: 1/1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 100px);
    grid-gap: 5px;
  }
  
  .grid-item {
    display: flex;
    justify-content: center;
    font-size: 18px;
    width: 100%;
    max-height: 100%;
    filter: grayscale(100%)
  }

  .grid-item:hover {
      filter: none;
  }

  .item-1 {
    background-image: url("./assets/images/run-buddy-hero.png");
    background-size: cover;
    background-position: top;
    grid-column: 1/5;
    grid-row: 1/4;
  }

  .item-2 {
    background-image: url("./assets/images/horiseon-hero.png");
    background-size: cover;
    background-position: center;
    grid-column: 7/9;
    grid-row: 1/2;
}

.item-3 {
    background-image: url("./assets/images/travel-site-mockup.png");
    background-size: cover;
    background-position: center;
    grid-column: 7/9;
    grid-row: 3/4;
}

.item-4 {
    background-image: url("./assets/images/food-blog-mockup.png");
    background-size: cover;
    background-position: center;
    grid-column: 7/9;
    grid-row: 5/6;
}


.contact-me-grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 100px);
    grid-gap: 5px;
    align-items: flex-start;
}

.email {
    grid-column: 1/2;
    grid-row: 1/1;
}

.phone-number {
    grid-column: 3/4;
    grid-row: 1/1;
}

.linkedin {
    grid-column: 5/6;
    grid-row: 1/1;
}

.github {
    grid-column: 7/8;
    grid-row: 1/1;
}